<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!--
        Ohne diese Zeile hat der Release-Build keinen Netzzugriff: Flutter
        legt die Berechtigung nur in den Debug- und Profile-Manifesten an.
        Gebraucht wird sie fuer Konto, Reset-Mail und den KI-Proxy - alles
        andere laeuft weiterhin lokal.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="Neurohelp"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!--
                Rueckweg aus einer Bestaetigungs- oder Reset-Mail.

                Die App arbeitet mit sechsstelligen Codes, weil Links aus
                Mail-Apps regelmaessig im falschen Browser landen. Der Link
                steht trotzdem in jeder Mail - ohne diesen Filter passiert
                beim Antippen gar nichts. Der Wert muss zur Site-URL des
                Supabase-Projekts passen (siehe docs/BACKEND.md).
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="will.neurohelp.help"
                    android:host="login-callback"/>
            </intent-filter>
        </activity>

        <!--
            Rueckweg aus dem OpenRouter-Login (Konzept, Abschnitt 17a).

            Der User meldet sich im Browser an, nicht in der App - die App
            sieht dadurch nie Zugangsdaten. Zurueck kommt er ueber
            `neurohelp://openrouter?code=...`. Ohne diese Activity landet der
            Code nirgends, und der Login endet in einer leeren Browserseite.

            Das Schema muss zu OpenRouterApi.callbackScheme passen und zur
            Info.plist auf iOS.
        -->
        <activity
            android:name="com.linusu.flutter_web_auth_2.CallbackActivity"
            android:exported="true"
            android:taskAffinity="">
            <intent-filter android:label="flutter_web_auth_2">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="neurohelp"/>
            </intent-filter>
        </activity>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>

        <!-- Damit die App die Mail-App des Geräts vorausgefüllt öffnen kann
             (Konzept, Abschnitt 10, Schritt 6). Ohne diesen Eintrag ist sie
             ab Android 11 für uns unsichtbar. -->
        <intent>
            <action android:name="android.intent.action.SENDTO"/>
            <data android:scheme="mailto"/>
        </intent>

        <!-- Für Kontaktformulare: die Seite im Browser öffnen. -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>

        <!-- Anruf starten (Konzept, Abschnitt 8, Schritt 6). -->
        <intent>
            <action android:name="android.intent.action.DIAL"/>
            <data android:scheme="tel"/>
        </intent>
    </queries>
</manifest>
